@media (max-width:670px) {
  
共通項目をここに書いていく。

body{
  padding: 0;
  margin: 0;
}

header{
  
}

header h1{
  font-size: 45px;
}

nav{
  width: 414px;
}

.navbar-nav{

}

#profile{
  height: 1038px;
  background-color: white;
}

.probox{
  width: 414px;
}

.top-profile{
  width: 414px;
}

.pro-all{
  width: 100%;
  flex-direction: column;
}

.pro-left{

}

.pro-left img{

}

.sns{

}

.sns img{

}

.pro-right{
  width: 30%;
}

.pro-right h3{
  font-size: 10px;
}

#works{
  height: 850px;
}

.port{
  grid-template-columns: none;
}

.worksport{

}

.worksport p{

}

.portfolio_img{

}

.prolog_img{

}

.laravel_img{

}

#other{
  height: 1440px;
}
}

.other-text{

}
.other-box{
  flex-direction: column;
}
.other-left{
  width: auto;
}
.other-right{
  margin-left: 0;
  width: auto;
  margin-top: 50px;
}
.formbox h3{

}
.text-test{

}
.nameForm{

}
.formRight{

}
.formRed{

}
.submit{

}
.submit-test{

}
.footer{

}
.footer p{

}
}