@media screen and (max-width:639px) {
  
共通項目をここに書いていく。

body{
  padding: 0;
  margin: 0;
  width: auto;
}

header{
  width: 600px;
  height: 800px;
}

header h1{
  font-size: 45px;
}

nav{
  width: 414px;
}

.navbar{
  width: auto;
}

#profile{
  height: 1038px;
  background-color: white;
  width: 600px;
}

#profile p{
  width: 325px;
}

.probox{
  width: 414px;
}

.top-profile{
  width: 414px;
}

.pro-all{
  width: 100%;
  flex-direction: column;
  padding: 0;
}

.pro-left{
  width: 100%;
  text-align: center;
}

.sns{
  margin-left: 0;
  padding: 0px 107px;
}

.pro-right{
  width: 100%;
  padding-left: 40px;
  text-align: center;
}

.pro-right h3{
  font-size: 26px;
  width: 345px;
  margin-top: 25px;
}

#works{
  height: 1395px;
  width: 600px;
  margin: 0 auto;
  padding-top: 0px;
}

.port{
  grid-template-columns: none;
  width: 434px;
}

#other{
  height: 1430px;
  width: 600px;
}

.contact-text{
  width: 600px;
}
.other-box{
  flex-direction: column;
  display: block;
  height: 700px;
}
.other-left{
  width: auto;
  margin-right: 0;
}
.other-right{
  margin-left: -48px;
  width: auto;
  margin-top: 70px;
}
.other-right img{
  margin-top: 10px;
}
.contact{
  width: 600px;
  height: 500px;
}
.footer{
  width: 600px;
}

}